*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #55ffe5;
	font-size: 14px;
	font-family: 'poppins', sans-serif;
}
.container{
	width: 80%;
	margin: 50px auto;
}
.contact-box{
	background: #fff;
	display: flex;
}
.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
}
.contact-right{
	flex-basis: 40%;
	padding: 40px ;
	background: black;
	color: white;
}
h1{
	margin-bottom: 10px;
}
.container p{
	margin-bottom: 40px;
}
.input-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.input-row .input-group{
	flex-basis: 45%;
}
input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}
textarea{
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
}
label{
	margin-bottom: 6px;
	display: block;
	color: #1c00b5;
}
button{
	background: black;
	width: 100px;
	border: none;
	outline: none;
	color: white;
	height: 35px;
	border-radius: 30px;
	margin-top: 20px;
	box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.contact-left h3{
	color: #1c00b5;
	font-weight: 600;
	margin-bottom: 30px;
}
.contact-right h3{
	font-weight: 600;
	margin-bottom: 30px;
}
tr td:first-child{
	padding-right: 20px;
}
tr td{
	padding-top: 20px;
}
.navbar{
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: black;
	position: sticky;
	top: 0;
}
.navbar ul{
	display: flex;
	list-style: none;
	margin: 20px 0;
}
.navbar ul li{
	font-family: century;
	font-size: 1.1rem;
	flex-weight: bold;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	padding: 8px 25px;
	transition: all .5s ease;
}
.navbar ul li a:hover{
	background-color: white;
	color: black;
	box-shadow: 0 0 10px white;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}
h1{
	background-color: black;
	color: white;
	padding: 10px;
	margin: 10px;
	font-family: "comic sans Ms";
	text-align: center;
}
img{
	width: 100%;
	height: auto;
}
h2{
	background-color: black;
	color: white;
	padding: 10px;
	margin: 10px;
	font-family: "comic sans Ms";
	text-align: center;
}
p{
	text-align: justify;
}
footer{
	position: absolute;
	background: #111;
	height: auto;
	width: 100vw;
	font-family: open Sans;
	padding-top: 40px;
	color: #fff;
}
.footer-content{
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
.socials li{
	margin: 0 10px;
}
.socials a{
	text-decoration: none;
	color: #fff;
}
.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}
.socials a:hover i{
	color: aqua;
}

.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}















































































































































































































